<div id="admin-form">
    <div class="popup" style="padding: 20px 80px;">
        <div class="close-btn" id="close-admin" onClick = "toggleAdminPanel()">&times</div>
        <h1>Profile</h1>
        <div class="admin-wrapper">
            <button id = "add-items" onClick = "toggleAddItem()">Add Item</button>
            <button id = "edit-items" onClick = "toggleEditItem()">Edit Items</button>
        </div>
    </div>
</div>