<!-- edit address form -->
<div id="address-form">
    <div class="popup">
        <div class="close-btn" id="close-address">&times</div>
        <form class="form" action="/api/user/changeAddress" method="POST">
            <h2>Change Address</h2>
            <div class="form-element">
                <label for="new-address">New address</label>
                <input type="text" id = "new-address" name = "new-address" placeholder = "Enter a new address">
                <% if (typeof email != "undefined") {%>
                <input type='hidden' name = 'email' value = "<%=email %>">
                <% }%>
            </div>
            <div class="form-element">
                <button type="submit">Change address</button>
            </div>
        </form>
    </div>
</div>

<!-- edit phoneNumber form -->
<div id="phone-number-form">
    <div class="popup">
        <div class="close-btn" id="close-phone-number">&times</div>
        <form class="form" action="/api/user/changePhoneNumber" method="POST">
            <h2>Change Phone Number</h2>
            <div class="form-element">
                <label for="new-phone-number">New Phone Number</label>
                <input type="text" id = "new-phone-number" name = "new-phone-number" placeholder = "Enter a new phone number">
                <% if (typeof email != "undefined") {%>
                <input type='hidden' name = 'email' value = "<%=email %>">
                <% }%>
            </div>
            <div class="form-element">
                <button type="submit">Change your number</button>
            </div>
        </form>
    </div>
</div>