<div id="forgotPassword-form">
    <div class="popup" style="padding: 20px 80px;">
        <div class="close-btn" id="close-passwordForm">&times</div>
        <form class = "form" action="/api/user/forgotPassword" method="POST">
            <h2>Forgot Password</h2>
            <div class="form-element">
                <label for="passwordEmail"></label>
                <input type="text" id = "passwordEmail" name = "passwordEmail" placeholder = "Enter Email">
            </div>
            <div class="form-element" style="padding-top: 2rem;">
                <button type ="submit">Send Email</button>
            </div>
        </form>
    </div>
</div>

<div id="resetPassword-form">
    <div class="popup" style="padding: 20px 80px;">
        <div class="close-btn" id="close-resetPassword">&times</div>
        <form class = "form" action="/api/user/resetPassword" method="POST">
            <h2>Reset Password</h2>
            <div class="form-element">
                <label for="resetPassword">Password</label>
                <input type="password" id = "resetPassword" name = "resetPassword" placeholder = "Enter Password">
                <i class="fas fa-check-circle" id = "check-passed"></i>
                <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                <small>Error message</small>
            </div>
            <div class="form-element">
                <label for="confirmResetPassword">Confirm Password</label>
                <input type="password" id = "confirmResetPassword" name = "confirmResetPassword" placeholder = "Enter Password Again">
                <% if (typeof id != "undefined") {%>
                    <input type='hidden' name = 'id' value = "<%=id %>">
                <% }%>
                <i class="fas fa-check-circle" id = "check-passed"></i>
                <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                <small>Error message</small>
            </div>
            <div class="form-element" style="padding-top: 2rem;">
                <button type ="submit">Change password</button>
            </div>
        </form>
    </div>
</div>