<div id="forgot-password-form">
    <div class="popup" style="padding: 20px 80px;">
        <div class="close-btn" id="close-password-form">&times</div>
        <form class = "form" action="/api/user/forgotPassword" method="POST">
            <h2>Forgot Password</h2>
            <div class="form-element">
                <label for="email-password"></label>
                <input type="text" id = "email-password" name = "emailPassword" placeholder = "Enter Email">
            </div>
            <div class="form-element" style="padding-top: 2rem;">
                <button type ="submit">Send Email</button>
            </div>
        </form>
    </div>
</div>

<div id="reset-password-form">
    <div class="popup" style="padding: 20px 80px;">
        <div class="close-btn" id="close-reset-password">&times</div>
        <form class = "form" action="/api/user/resetPassword" method="POST">
            <h2>Reset Password</h2>
            <div class="form-element">
                <label for="reset-password">Password</label>
                <input type="password" id = "reset-password" name = "resetPassword" placeholder = "Enter Password">
                <i class="fas fa-check-circle" id = "check-passed"></i>
                <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                <small>Error message</small>
            </div>
            <div class="form-element">
                <label for="confirm-password-reset">Confirm Password</label>
                <input type="password" id = "confirm-password-reset" name = "confirmPasswordReset" placeholder = "Enter Password Again">
                <% if (typeof id != "undefined") {%>
                    <input type='hidden' name = 'id' value = "<%=id %>">
                <% }%>
                <i class="fas fa-check-circle" id = "check-passed"></i>
                <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                <small>Error message</small>
            </div>
            <div class="form-element" style="padding-top: 2rem;">
                <button type ="submit">Change password</button>
            </div>
        </form>
    </div>
</div>