<div id="register-form">
    <div class="popup" style="padding: 20px 80px;">
        <div class="close-btn" id="close-register">&times</div>
        <form class = "form" action="/api/user/add" method="POST">
            <h2>Registration</h2>
            <div class="form-element">
                <label for="signupEmail">Email</label>
                <div>
                    <input type="text" id = "signupEmail" name = "signupEmail" placeholder = "Enter Email">
                    <i class="fas fa-check-circle" id = "check-passed"></i>
                    <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                </div>
                <small>Error message</small>
            </div>
            <div class="form-element">
                <label for="password">Password</label>
                <div>
                    <input type="password" id = "password" name = "password" placeholder = "Enter Password">
                    <i class="fas fa-check-circle" id = "check-passed"></i>
                    <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                </div>
                <small>Error message</small>
            </div>
            <div class="form-element">
                <label for="firstName">First Name</label>
                <div>
                    <input type="text" id = "firstName" name = "firstName" placeholder = "Enter first name">
                    <i class="fas fa-check-circle" id = "check-passed"></i>
                    <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                </div>
                <small>Error message</small>
            </div>
            <div class="form-element">
                <label for="lastName">Last Name</label>
                <div>
                    <input type="text" id = "lastName" name = "lastName" placeholder = "Enter last name">
                    <i class="fas fa-check-circle" id = "check-passed"></i>
                    <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                </div>
                <small>Error message</small>
            </div>
            <div class="form-element">
                <label for="address">Address</label>
                <div>
                    <input type="text" id = "address" name = "address" placeholder = "Enter your address">
                    <i class="fas fa-check-circle" id = "check-passed"></i>
                    <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                </div>
                <small>Error message</small>
            </div>
            <div class="form-element">
                <label for="phoneNumber">Phone Number</label>
                <div>
                    <i class="fas fa-check-circle" id = "check-passed"></i>
                    <i class="fas fa-exclamation-circle" id = "check-failed"></i>
                    <input type="number" id = "phoneNumber" name = "phoneNumber" placeholder = "Enter your phone number">
                </div>
                <small>Error message</small>
            </div>
            <div class="form-element" style="padding-top: 2rem;">
                <button type ="submit">Register</button>
            </div>
        </form>
    </div>
</div>